.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 420px;
  padding: 5px;
  background-color: black;
  box-shadow: 0 0 10px black;
}

.nav a {
  padding: 5px;
  font-size: 36px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

@media (max-width: 1100px){
  .nav {
    gap: 200px;
  }
  .nav a {
    font-size: 32px;
  }
}

@media (max-width: 700px){
  .nav {
    gap: 100px;
  }
}

@media (max-width: 500px) {
  .nav {
    gap: 50px;
  }
}